<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atmos Aura</title>
    <link rel="stylesheet" href="/style.css" />
    <style></style>
  </head>
  <body>
    <div class="home-container">
      <div class="container">
        <div class="heading"><h3>Atmos Aura</h3></div>
        <div>
          <form method="post" action="/">
            <!-- <label for="">Search for a City</label> -->
            <input
              type="text"
              name="search"
              id="search"
              placeholder="Search for a City"
            />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
